body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #3013d2;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000000;
}
a {
  color: #1cbd04;
}
#otsikko {
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.tosihieno {
  font-style: italic;
  font-stretch: extra-condensed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
